.ribbon {
  position: absolute;
  top: 28px;
  right: -8px;
  padding: 8px 12px;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    right: 6px;
    bottom: -4px;
    height: 100%;
    width: 16px;
    background-color: var(--color-blue-2);
    transform: rotate(160deg);
    z-index: -1;
  }

  @media (max-width: 768px) {
    right: 20px;

    &::before {
      display: none;
    }
  }

  @media (max-width: 480px) {
    position: relative;
    right: unset;
    top: unset;
    display: inline-block;
  }
}
