.filter {
  @include container;

  flex-direction: column;
  padding: 16px;
  margin-bottom: 24px;
  gap: 24px;
  text-align: center;

  &Title {
    margin: 0;
    font-size: 2.25rem;
    line-height: 1;
  }

  &Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  &Select {
    padding: 2px 12px;
    border-radius: 100px;
    height: 32px;

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--color-text);
      outline-offset: -1px;
    }
  }
}
